<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <h2>register Page</h2>
    <form action="/register" method="post">
        <input type="text" name="fName" placeholder="fname" required>
        <input type="email" name="email" placeholder="email" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/login">Login</a></p>
</body>
</html>